.heading{
    border: 1px solid black;
    padding: 100px 30px;
    color: rgba(0, 128, 0, 0.58);
    margin: 50px;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* transition-duration: 500ms; */
    background-color: rgba(255, 0, 0, 0.29);
    /* opacity: 0.7; */
    visibility: hidden;
}
.box{
    width: 700px;
    margin: 100px;
    border:  2px solid gray;
    overflow: scroll;
    /* overflow-y: scroll; */
    overflow-x: hidden;
}
.float-box{
    margin: 50px;
    width: 500px;
    border: 3px solid black;
}
.float-box img{
    float: right;
    width: 200px;
    height: 200px;
}
/* body{
    background-size: contain;
    background-image: url(../../images/pic2.jpg);
} */
/* .heading:hover{
    color: blueviolet;
    border-color:blueviolet ;
    box-shadow: 10px 20px 10px blueviolet;
}
.heading:active{
    color: red;
    border-color:red ;
    background-color: gray;
} */